In [45]:
import pandas as pd

In [46]:
## open csvs
funeral_term=pd.read_csv("../data/funeral_term_subregion.csv")
term_funeral=pd.read_csv("../data/term_funeral_subregion.csv")

In [47]:
funeral_term.head()

       State  funeral_for_stillborn  funeral_for_miscarriage
0     Nevada                    100                        0
1   Arkansas                     53                        0
2    Alabama                     47                        0
3       Utah                     46                        0
4  Louisiana                     44                       22

In [48]:
term_funeral.head()

,State,miscarriage_funeral,miscarried_funeral,stillbirth_funeral,stillborn_funeral
0,Utah,32,0,20,48
1,Maryland,44,0,16,40
2,Wisconsin,39,0,14,47
3,Michigan,41,0,12,47
4,Virginia,40,8,11,41

In [49]:
## append csvs
searches = pd.merge(term_funeral, funeral_term, on="State", how="left")
searches.head()

,State,miscarriage_funeral,miscarried_funeral,stillbirth_funeral,stillborn_funeral,funeral_for_stillborn,funeral_for_miscarriage
0,Utah,32,0,20,48,46,0
1,Maryland,44,0,16,40,28,21
2,Wisconsin,39,0,14,47,42,0
3,Michigan,41,0,12,47,25,18
4,Virginia,40,8,11,41,33,17

In [50]:
len(searches)

51

In [51]:
type("funeral_for_miscarriage")

str

In [52]:
##convert to int
searches.astype({"miscarried_funeral":"int", "stillbirth_funeral":"int", "stillborn_funeral":"int", "funeral_for_stillborn":"int", "funeral_for_miscarriage":"int"})

,State,miscarriage_funeral,miscarried_funeral,stillbirth_funeral,stillborn_funeral,funeral_for_stillborn,funeral_for_miscarriage
0,Utah,32,0,20,48,46,0
1,Maryland,44,0,16,40,28,21
2,Wisconsin,39,0,14,47,42,0
3,Michigan,41,0,12,47,25,18
4,Virginia,40,8,11,41,33,17
5,Tennessee,45,0,11,44,21,22
6,New_York,40,6,10,44,28,12
7,Georgia,38,7,10,45,28,15
8,California,37,6,10,47,30,16
9,Missouri,39,0,10,51,30,19
10,Indiana,44,8,9,39,26,23
11,Illinois,49,0,9,42,24,20
12,Pennsylvania,37,8,9,46,29,19
13,Texas,43,7,8,42,28,19
14,Florida,45,6,7,42,27,18
15,Ohio,42,6,7,45,29,20
16,Massachusetts,61,0,0,39,18,16
17,Washington,44,15,0,41,18,25
18,Nebraska,57,0,0,43,32,21
19,Oregon,57,0,0,43,43,0
20,North_Carolina,48,8,0,44,27,13
21,West_Virginia,56,0,0,44,0,0
22,Colorado,56,0,0,44,35,0
23,Minnesota,53,0,0,47,26,20
24,Kansas,50,0,0,50,37,24
25,Connecticut,49,0,0,51,38,0
26,South_Carolina,48,0,0,52,0,0
27,Kentucky,47,0,0,53,40,0
28,Arizona,46,0,0,54,36,20
29,Oklahoma,44,0,0,56,44,0
30,Alabama,44,0,0,56,47,0
31,South_Dakota,43,0,0,57,0,0
32,Mississippi,42,0,0,58,0,0
33,Arkansas,41,0,0,59,53,0
34,Iowa,39,0,0,61,27,23
35,New_Jersey,39,0,0,61,38,14
36,Louisiana,37,0,0,63,44,22
37,Alaska,0,0,0,100,0,0
38,Nevada,0,0,0,100,100,0
39,New_Mexico,0,0,0,100,0,0
40,District_of_Columbia,100,0,0,0,0,0
41,Rhode_Island,0,0,0,0,0,0
42,New_Hampshire,0,0,0,0,0,0
43,North_Dakota,0,0,0,0,0,0
44,Montana,0,0,0,0,0,0
45,Maine,0,0,0,0,0,0
46,Vermont,0,0,0,0,0,0
47,Idaho,0,0,0,0,0,0
48,Hawaii,0,0,0,0,0,0
49,Delaware,0,0,0,0,0,0
50,Wyoming,0,0,0,0,0,0

In [54]:
## combine similar columns
searches["miscarriage"] = searches.apply(lambda x: x["miscarriage_funeral"]+ x["miscarried_funeral"] + x["funeral_for_miscarriage"], axis=1)
searches["stillbirth"] = searches.apply(lambda x: x["stillbirth_funeral"]+ x["stillborn_funeral"] + x["funeral_for_stillborn"], axis=1)

In [55]:
searches.head()

,State,miscarriage_funeral,miscarried_funeral,stillbirth_funeral,stillborn_funeral,funeral_for_stillborn,funeral_for_miscarriage,miscarriage,stillbirth
0,Utah,32,0,20,48,46,0,32,114
1,Maryland,44,0,16,40,28,21,65,84
2,Wisconsin,39,0,14,47,42,0,39,103
3,Michigan,41,0,12,47,25,18,59,84
4,Virginia,40,8,11,41,33,17,65,85

In [60]:
compare_searches=searches[["State","miscarriage","stillbirth"]]

In [61]:
compare_searches.head()

       State  miscarriage  stillbirth
0       Utah           32         114
1   Maryland           65          84
2  Wisconsin           39         103
3   Michigan           59          84
4   Virginia           65          85

In [71]:
## create and export map
compare_searches.to_csv("../output/miscarriage_stillbirth_searches.csv", index=False)